h1{
 color: blue;
font-size: 2rem;
background: gray;
}
p{
font-family: Georgia, 'Times New Roman', Times, serif;
}
h2{
 color: blue;
font-size: 2rem;
background: gray;
}
h2{
 color: blue;
font-size: 2rem;
background: gray;
}
h3{
 color: blue;
font-size: 2rem;
font-size: 2rem;
background: gray;

}
h4{
 color: blue;
font-size: 2rem;
background: gray;
}
h5{
 color: blue;
font-size: 2rem;
background: gray;
}
h6{
 color: blue;
font-size: 2rem;
background: gray;
}
body {
 background-color: #009DDC;
}